<div class="buttons" *ngIf="showToolbar">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="clear" (click)="changeList('group')">
          <ion-icon name="apps" [ngClass]="{ active: (currentList == 'group') }"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="clear" (click)="changeList('details')">
          <ion-icon name="expand" [ngClass]="{ active: (currentList == 'details') }"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
 
<div class="only-images" *ngIf="currentList == 'group'">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="6" class="ion-align-self-center" *ngFor="let post of posts">
        <div class="image-container">
          <img [src]="post.photoUrl"/>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
 
<div class="details" *ngIf="currentList == 'details'">
  <ion-list>
    <ion-item class="ion-no-padding" *ngFor="let post of posts">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <img [src]="post.owner.photoUrl" (click)="detailUser(post.owner)"/>
          </ion-col>
          <ion-col size="10">
            <ion-title (click)="detailUser(post.owner)">{{ post.owner.name }}</ion-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <img [src]="post.photoUrl" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <p [innerHTML]="writeDescriptionWithHashtags(post.description)"></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <app-like (onLike)="like(post)" (onUnlike)="unlike(post)" [likeCount]="post.likeCount" [isLiked]="post.isLiked"></app-like>
          </ion-col>
          <ion-col size="6" *ngIf="isPostOwner(post)">
            <ion-button (click)="remove(post)" color="light">
              <ion-icon name="trash-outline" color="dark" ></ion-icon>
            </ion-button>  
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</div>