<ion-content padding>
  <form (ngSubmit)="edit(form)" #form="ngForm">
    <ion-grid>
      <ion-row margin-top>
        <ion-col text-center>
          <h3 ion-text>OnebitInsta</h3>
        </ion-col>
      </ion-row>
 
      <ion-row>
        <ion-col>
          <ion-item>
            <img [src]="user.photoUrl ? user.photoUrl : './assets/fake_avatar.png'" />
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-button class="attach-file present" color="light">
              <ion-icon class="attach-file present" name="camera"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="user.name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
 
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="user.email" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
 
      <ion-row margin-top>
        <ion-col>
          <ion-button type="submit" expand="block" color="primary" [disabled]="form.invalid">SAVE</ion-button>
          <ion-button type="button" expand="block" fill="clear" color="primary" (click)="backToPriorPage()">
            CANCEL
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>