//app-like {
  .like-button {
      zoom: 1.3;
      background: transparent;
      padding: 3px;
      font-size: 20px;
    }
   
    .like-count {
      font-size: 0.9em;
      padding-top: 8%;
      padding-left: 2%;
      display: inline-block;
    }
//}